#masthead {
    margin-top: 40px;
}

#admin-header {
    margin-top: 40px;
}

.sub_menu {
	height: 20px;
    margin-bottom: 40px;
}

#masthead h1 {
    font-size: 54px;
    line-height: 1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#masthead h1, #masthead p {
    margin-bottom: 9px;
    text-align: center;
}
#masthead h1, #footer h1, #masthead p, #footer p {
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#masthead div.inner, #footer div.inner {
    /*background: url("../img/grid-18px.png") repeat scroll center top transparent; */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3) inset;
    padding: 45px 0;
}


#masthead, #footer {
    background-color: #049CD9;
    background-image: -moz-linear-gradient(#004D9F, #049CD9);
    background-repeat: no-repeat;
}

#footer {
    margin-top: 80px;
}

#footer p {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
}
#masthead h1, #footer h1, #masthead p, #footer p {
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#masthead p a, #footer p a {
    color: #FFFFFF;
    font-weight: bold;
}


.alert-message.warning {
	 color: #444 !important;
	 text-shadow: none;
}