* {
	margin:0px;
	padding:0px;
}
body {
	margin:0;
	background:url(images/background.png) repeat-x #eeeff1;
}
p {
	padding:0;
	margin:0;
	padding-top:2px;
}
a {	
	color:#000;
}
img {
    border:0;
}
h1 {
	padding:0;
	margin:0;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#245ba9;
	margin-bottom:5px;
	border-bottom:dashed 1px #245ba9;
}
#wrapper {
	width:980px;
	margin:auto auto;
}

.header {
	width:100%;	
	height:75px;
}

.logo {
	width:100%;
	background:url(images/logo.png) center no-repeat;
	height:75px;	
	padding:20px;
}

#nav {
	height:39px;
	margin:auto auto;
}
#nav li {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:14px;
	text-align:center;
	line-height:2.8em;
	float:left;
	list-style-type: none;
	padding:0 5px;
	height:39px;
	display:block;
	text-decoration:none;
	margin-right:10px;
}
#nav li img {
	vertical-align:middle;
}
#nav li a {
	color:#fff;
	text-decoration:none;
	height:42px;
}

#nav ul {
	margin:auto auto;
	padding:0;
	margin:0;
	margin-top:5px;
	margin-left:10px;
	height:39px;
}

#nav li:hover {
	text-decoration:underline;
	border-top:0px solid #006;
	margin-top:0px;
}
#nav li.active {
	border-top:0px solid #006;
	margin-top:0px;
}

#left {
	width:15%;
	float:left;
}

#right {
	width:84%;
	float:right;
}
#right ul{
	/*padding-left:20px; */
}
.box {
	background:#f9f9f9;	
	min-height:38px;
}
.boxtop {
	background:url(images/img_15.png) top repeat-x;
}
.boxbottom {
	background:url(images/img_24.png) bottom repeat-x;
}
.boxleft {
	background:url(images/img_22.png) left repeat-y;
}
.boxright {
	background:url(images/img_20.png) right repeat-y;
}
.boxtleft {
	background:url(images/img_12.png) top left no-repeat;
}
.boxtright {
	background:url(images/img_16.png) top right no-repeat;
}
.boxbleft {
	background:url(images/img_23.png) bottom left no-repeat;
}
.boxbright {
	background:url(images/img_26.png) bottom right no-repeat;
}
.text {
	min-height:38px;
	padding:2px;
	color:#333;
	font-family:'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size:90%;
}
.gap {
	clear:both;
	width:100%;
	height:10px;
}
.testimonial {
	border: 1px dashed #999;
	font-size:11px;
	margin-left:10px;
	padding:5px;
	margin-top:5px;
	color:#333;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.footer, .footer a{
	text-align:center;
	color:#333;
	font-size:11px;
	font-family:"Arial", Helvetica, sans-serif;
	margin-bottom:10px;
}
.errors {
	color:#F00;
}
.sub {
	background: #FFF;
	padding:3px;
	color:#333;		
	text-align:left;
}
.sub a{
	background:0;
	text-decoration:underline;
}
.subborder {
	margin:3px;	
	padding:1px;
	background-color:#FFF;
}
#tooltip {
	background:#fafbfc;
	border:1px solid #f1f4f7;
	padding:5px;
	color:#000;
	font-size:11px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="button"], input[type="submit"], textarea {
	font-family:Arial,Helvetica,sans-serif;
}

input, option {
/*font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;*/
	color:#333;
	/*border:1px solid #C6D9E9; */
	margin-bottom:4px;
	font-size:15px;
	margin-right:5px;
	font-family:Arial,Helvetica,sans-serif;
}
.break {
	height:1px;
	border-bottom:1px dashed #245ba9;
	margin-top:4px;
	margin-bottom:5px;
}
.rightbreak {
	width:1px;
	border-right:1px dashed #245ba9;
	margin-left:4px;
	margin-right:5px;
}
/* The "boxes"s Main Title area */
.cat {
	background:#026CB1 url(images/img_07.png) top left repeat-x;
	padding:5px;
	margin:-1px;
	color:#FFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:left;
	border-bottom:1px solid #CCC;
}
.cat a{
	vertical-align:middle;
	background:0;
}
.table {
	border:1px solid #CCC;
	background-color:#FFF;
	padding:2px 2px 0px 2px;
	margin-bottom:5px;	
}

 .noupg {
    border: 1px solid #9AFF9A;
    background: #9AFF9A;
    color: #003300;
    padding: 3px;
    font-weight: bold;
    -moz-border-radius: "4px";
    -webkit-border-radius: "4px";
    margin-bottom: 5px;
    }
 .warn{
     border: 1px solid #FFA500;
     background: #FFA500;
     color: #FFFAF0;
     padding: 3px;
     font-weight: bold;
     margin-bottom: 5px;
     -moz-border-radius: "4px";
     -webkit-border-radius: "4px";
     }
    
#pagination_loading {
	position: absolute;	
}    
    
    
    
    /*
.error {
	border:1px solid #F9DD34;
}*/

input.error, select.error {
	border:1px dotted red;
}

label.error {
	padding-left:15px;	
	color:red;
	/* position:absolute; 
	display:inline-block;
	line-height:1.8;*/
}

#navigation {
 /*	background-color: #162A67; */
}



.readonly {
   background-color:red;
}




.info, .success, .warning, .error_message, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size:90%;
    
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}
.error_message {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}


#description {
	background-color:white;	
}

.contextual {
	float:right;
	font-size:0.9em;
	line-height:1.4em;
	margin-top:5px;
	padding-left:10px;
	white-space:nowrap;
}

h2, h3 {
	border-bottom:1px solid #BBBBBB;	
	margin:0 0 10px;
	padding:2px 10px 1px 0;
}


.leftmenu {
	font-size:90%;
	color:#21759B;
	list-style-type:none;
	padding:0px;
	border-color:#E3E3E3;	
}

.leftmenu li:hover {	
	background-color:#eaf2fa;
}

.leftmenu li {	
	padding-left:5px;
}

.leftmenu a {	
	text-decoration:underline;	
}

.submenu {
	font-size:80%;
	height:25px;
	list-style-type:none;
	margin:1px 0 0;
	padding-left:0;	
}

.submenu li {

	float:left;	
	padding:0px 4px 0px 4px;
}

.submenu a:hover {
		
	text-decoration:underline;
}

fieldset {
	margin:5px;
	padding:5px;
}

ul {
	padding-left:20px;
}




form {
	-moz-border-radius:11px 11px 11px 11px;
	-moz-box-shadow:0 4px 18px #C8C8C8;	
	-webkit-box-shadow: #C8C8C8 0px 4px 18px;
	-webkit-border-radius:11px 11px 11px 11px;	
	
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #E5E5E5;
	font-weight:normal;
	margin-left:8px;
	padding:16px 16px 40px;
}

.box {
	-moz-border-radius:11px 11px 11px 11px;
	-moz-box-shadow:0 4px 18px #C8C8C8;	
	-webkit-box-shadow: #C8C8C8 0px 4px 18px;
	-webkit-border-radius:11px 11px 11px 11px;	
	
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #E5E5E5;
	font-weight:normal;
	margin-left:8px;
	padding:16px 16px 40px;
	width:95%;
}

#pass_login, #user_login, #email_login {
	background:none repeat scroll 0 0 #FBFBFB;
	border:1px solid #E5E5E5;
	font-size:24px;
	margin-bottom:16px;
	margin-right:6px;
	margin-top:2px;
	padding:3px;
	width:97%;
}

p label {
	color:#777777;
	font-size:13px;
	float:left;
}

form .submit, .alignright {
	float:right;
}

#login form p {
	margin-bottom:0;
}

#navi {
	margin:0 0 0 8px;
	padding:16px;
	text-align:left;
	font-size: 80%;
}

.price {
	font-size: 120%;
	font-weight: bold;	
}


textarea, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], select {
	background-color:#FFFFFF;
	border-color:#DFDFDF;
}

textarea, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], select {
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	border-style:solid;
	border-width:1px;
}

textarea, input, select {
	margin:1px;
	padding:3px;
}
input, select {
	line-height:15px;
}

input[type="submit"], input[type="button"] {
	/* background: repeat-x scroll left top #21759B; */
	background: repeat-x scroll left top #21759B;
	
	border-color:#298CBA;
	color:#FFFFFF;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);    
	
	
	-moz-box-sizing:content-box;
	-moz-border-radius:11px 11px 11px 11px;
	-webkit-border-radius:11px 11px 11px 11px;	 
	border-radius: 11px 11px 11px 11px;
		
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	font-size:11px !important;
	line-height:13px;
	padding:3px 8px;
	text-decoration:none;   
}
